@page "/blog"
@using dominikz.Client.Utils
@using dominikz.Domain.ViewModels.Blog
@using dominikz.Client.Tables
@using dominikz.Client.Extensions
@using dominikz.Domain.Enums.Blog

<PageTitle>Blog</PageTitle>

<div class="flex-column gap">

    <TextBox @ref="_searchBox"
             DelayInputTrigger="true"
             Placeholder="Search ..."
             Icon="fa-solid fa-magnifying-glass"
             ValueChanged="@(value => NavManager!.AttachOrUpdateRawQueryParam(QueryNames.Blog.Search, value))"/>

    <ChipSelect T="ArticleCategoryEnum"
                Title="Category"
                @ref="_categorySelect"
                SelectedChanged="@(value => NavManager!.AttachOrUpdateQueryParam<ArticleCategoryEnum>(QueryNames.Blog.Category, value.Count > 0 ? value.First() : null))"
                Values="Enum.GetValues<ArticleCategoryEnum>()[..^1].ToList()"/>

    <ChipSelect T="ArticleSourceEnum"
                Title="Source"
                @ref="_sourceSelect"
                SelectedChanged="@(value => NavManager!.AttachOrUpdateQueryParam<ArticleSourceEnum>(QueryNames.Blog.Source, value.Count > 0 ? value.First() : null))"
                Values="Enum.GetValues<ArticleSourceEnum>().ToList()"/>

    <div class="flex-row gap">

        @if (_hasCreatePermission)
        {
            <div class="admin-menu-element gap">
                <IconButton OnClick="@(() => NavManager!.NavigateTo("/blog/edit"))" Icon="fa-solid fa-circle-plus"/>
            </div>
        }

        <div class="menu-element gap">
            <i class="fa-solid fa-border-top-left"></i>
            <Switch @bind-State="_isTableView"/>
            <i class="fa-solid fa-bars-staggered"></i>
        </div>

        <div class="menu-element">
            <IconButton OnClick="OnRssFeedClicked" Icon="fa-solid fa-square-rss"/>
            <IconButton OnClick="OnCopyLinkClicked" Icon="fa-solid fa-link"/>
            <IconButton OnClick="OnCreateCURLClicked" Icon="fa-solid fa-code"/>
        </div>
    </div>

    @if (_isTableView)
    {
        <Table T="ArticleVm"
               Values="@_articles"
               Columns="@ArticleTableDefinition.Columns"
               OnRowClicked="article => NavigateToDetail(article.Id)"
               ShowIndex="true">
        </Table>
    }
    else
    {
        <div class="card-grid">
            @foreach (var article in _articles)
            {
                <a class="card surface" href="@NavigateToDetail(article.Id)">

                    <div class="card-header">
                        <img src="@article.ImageUrl" alt="Preview" loading="lazy"/>

                        <div class="card-header-cover">

                            @switch (article.Source)
                            {
                                case ArticleSourceEnum.Dz:
                                    <img src="assets/icons/dz.png" alt="Image of article author"/>
                                    break;
                                case ArticleSourceEnum.Medlan:
                                    <img src="assets/icons/medlan.png" alt="Image of article author"/>
                                    break;
                                case ArticleSourceEnum.Noobit:
                                    <img src="assets/icons/noobit.png" alt="Image of article author"/>
                                    break;
                            }

                            @if (article.Featured)
                            {
                                <div class="tooltip">
                                    <span>⭐</span>
                                    <span class="tooltip-text">New</span>
                                </div>
                            }
                            @* *@
                            @* @if (article.Source != ArticleSourceEnum.Dz) *@
                            @* { *@
                            @*     <div class="tooltip"> *@
                            @*         <span>🔗</span> *@
                            @*         <span class="tooltip-text">External Link</span> *@
                            @*     </div> *@
                            @* } *@
                            @* *@
                            @if (article.Category != ArticleCategoryEnum.Unknown)
                            {
                                <div class="tooltip">
                                    <span>@EnumFormatter.ToIcon(article.Category)</span>
                                    <span class="tooltip-text">@EnumFormatter.ToText(article.Category)</span>
                                </div>
                            }

                            @if (!string.IsNullOrWhiteSpace(article.AltCategories))
                            {
                                <div class="tooltip">
                                    <span>💬</span>
                                    <span class="tooltip-text">@article.AltCategories</span>
                                </div>
                            }

                        </div>
                    </div>

                    <div class="card-body gap">
                        <span class="card-body-title">@article.Title</span>

                        @if (article.PublishDate != null)
                        {
                            <span>@article.PublishDate.Value.ToString("yyyy-MM-dd")</span>
                        }
                        else
                        {
                            <span>DRAFT</span>
                        }
                    </div>

                </a>
            }
        </div>
    }
</div>