@page "/blog/edit"
@page "/blog/edit/{articleid:guid}"

@using dominikz.Domain.Enums
@using dominikz.Domain.Enums.Blog
@using Microsoft.AspNetCore.Components

@if (_isEnabled == false)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <EditForm EditContext="@_editContext" OnSubmit="@OnSaveClicked">
        <DataAnnotationsValidator/>

        <div class="container">
            <div class="col-3-grid gap">

                <div class="general-label grid-label">
                    <span>⚙️</span>
                </div>

                @* Category *@
                <div class="input-label">
                    <span>Category:</span>
                </div>
                <div class="flex-column">
                    <ComboBox T="@ArticleCategoryEnum"
                              Selected="@_vm.Category"
                              SelectedChanged="OnCategoryChanged"
                              Values="@(Enum.GetValues<ArticleCategoryEnum>()[..^1].ToList())"/>
                    <ValidationMessage For="@(() => _vm.Category)"/>
                </div>

                @* Draft *@
                <div class="input-label">
                    <span>Draft:</span>
                </div>
                <Switch StateChanged="CallIsDraftChanged"/>

                @* Publish Date *@
                <div class="input-label">
                    <span>Publish Date:</span>
                </div>
                <div class="flex-column">
                    <DatePicker Disabled="_isDraft" @bind-Date="_vm.PublishDate"/>
                    <ValidationMessage For="@(() => _vm.PublishDate)"/>
                </div>
            </div>

            <div class="spacer"></div>

            <div class="col-2-grid gap">
                <div class="grid-label">
                    <span>🏷️</span>
                </div>

                @* Tags *@
                <div class="flex-column">
                    <ChipBucket @bind-Values="@_vm.Tags" Recommendations="@_tagRecommendations"/>
                    <ValidationMessage For="@(() => _vm.Tags)"/>
                </div>
            </div>

            <div class="spacer"></div>

            <div class="col-2-50-grid gap">

                <div class="text-label grid-label">
                    <span>📄</span>
                </div>

                @* Title  *@
                <div class="flex-column grid-item-span">
                    <TextBox Placeholder="Title" @bind-Value="_vm.Title"/>
                    <ValidationMessage For="@(() => _vm.Title)"/>
                </div>

                @* Html *@
                <div class="flex-column grid-item-span">
                    <TextArea placeholder="..." @bind-Value="_vm.HtmlText"></TextArea>
                    <ValidationMessage For="@(() => _vm.HtmlText)"/>
                </div>
            </div>

            <div class="spacer"></div>

            @* Image  *@
            <div class="col-2-grid gap">
                <div class="grid-label">
                    <span>🖼️</span>
                </div>

                <div>
                    <FilePicker @bind-Files="_vm.Images" MaxFiles="1"/>
                    <ValidationMessage For="@(() => _vm.Images)"/>
                </div>
            </div>

            <div class="spacer"></div>

            @* Buttons *@
            <div class="button">
                <TextButton Text="Save" Disabled="@(!_isEnabled)"/>
            </div>

        </div>
    </EditForm>
}