@page "/blog/edit"
@page "/blog/edit/{articleid:guid}"
@using dominikz.Domain.Enums.Blog
@using Microsoft.AspNetCore.Components

@if (_isEnabled == false)
{
    <PageTitle>Loading</PageTitle>
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <PageTitle>@_data.ViewModel.Title</PageTitle>
    
    <EditForm EditContext="@_editContext" OnSubmit="@OnSaveClicked">
        <DataAnnotationsValidator/>

        <div class="container">
            <div class="col-3-grid gap">

                <div class="general-label grid-label">
                    <span>⚙️</span>
                </div>

                @* Category *@
                <div class="input-label">
                    <span>Category:</span>
                </div>
                <div class="flex-column">
                    <EnumPicker T="@ArticleCategoryEnum"
                              Selected="@_data.ViewModel.Category"
                              SelectedChanged="OnCategoryChanged"
                              Values="@(Enum.GetValues<ArticleCategoryEnum>()[..^1].ToList())"/>
                    <ValidationMessage For="@(() => _data.ViewModel.Category)"/>
                </div>

                @* Draft *@
                <div class="input-label">
                    <span>Draft:</span>
                </div>
                <Switch StateChanged="CallIsDraftChanged"/>

                @* Publish Date *@
                <div class="input-label">
                    <span>Publish Date:</span>
                </div>
                <div class="flex-column">
                    <DatePicker Disabled="_isDraft" @bind-Date="_data.ViewModel.PublishDate"/>
                    <ValidationMessage For="@(() => _data.ViewModel.PublishDate)"/>
                </div>
            </div>

            <div class="spacer"></div>

            <div class="col-2-grid gap">
                <div class="grid-label">
                    <span>🏷️</span>
                </div>

                @* Tags *@
                <div class="flex-column">
                    <ChipBucket @bind-Values="@_data.ViewModel.Tags" Recommendations="@_tagRecommendations"/>
                    <ValidationMessage For="@(() => _data.ViewModel.Tags)"/>
                </div>
            </div>

            <div class="spacer"></div>

            <div class="col-2-50-grid gap">

                <div class="text-label grid-label">
                    <span>📄</span>
                </div>

                @* Title  *@
                <div class="flex-column grid-item-span">
                    <TextBox Placeholder="Title" @bind-Value="_data.ViewModel.Title"/>
                    <ValidationMessage For="@(() => _data.ViewModel.Title)"/>
                </div>

                @* Html *@
                <div class="flex-column grid-item-span">
                    <TextArea placeholder="..." @bind-Value="_data.ViewModel.HtmlText"></TextArea>
                    <ValidationMessage For="@(() => _data.ViewModel.HtmlText)"/>
                </div>
            </div>

            <div class="spacer"></div>

            @* Image  *@
            <div class="col-2-grid gap">
                <div class="grid-label">
                    <span>🖼️</span>
                </div>

                <div>
                    <FilePicker @bind-Files="_data.Images" MaxFiles="1"/>
                    <ValidationMessage For="@(() => _data.Images)"/>
                </div>
            </div>

            <div class="spacer"></div>

            @* Buttons *@
            <div class="button">
                <TextButton Text="Save" Disabled="@(!_isEnabled)"/>
            </div>

        </div>
    </EditForm>
}