@page "/movies/{id:int}"
@using dominikz.Common.Enumerations

<div>
    <DZText Typo=@CSSTypo.H1>@_review.Title</DZText>

    <DZGrid ItemAlgin=CSSAlignment.Center>
        <DZIcon Icon="fas fa-globe-europe" />
        <DZText>@_review.Publication.ToString("MM.yyyy")</DZText>

        <span style="padding-left: 10px; padding-right: 10px;">·</span>

        <DZIcon Icon="fas fa-hourglass-start" />
        <DZText>@($"{_review.Runtime.Hours}h {_review.Runtime.Minutes}m")</DZText>

        <span style="padding-left: 10px; padding-right: 10px;">·</span>

        <DZText>USK: </DZText>
        <DZText CustomColor=@GetUSKColor()>@GetUSKText()</DZText>

        <span style="padding-left: 10px; padding-right: 10px;">·</span>

        <DZIcon Icon="fas fa-check-square" />
        <DZText>@_review.Watched.ToString("MM.yyyy")</DZText>

        <span style="padding-left: 10px; padding-right: 10px;">·</span>

        <DZChip Size=CSSSize.Small Color=ThemeColor.Primary>@_review.KeyWord</DZChip>
    </DZGrid>

    <DZGrid Spacing=5>
        <DZGridItem>
            <img src="@_review.Thumbnail" width="294" height="420" />
        </DZGridItem>

        @if (!string.IsNullOrWhiteSpace(_review.YoutubeTrailerId))
        {
            <div class="hideOnMobile">
                <DZGridItem>
                    <div>
                        <iframe style="width: 747px !important; height:420px !important" src="@("https://www.youtube.com/embed/" + @_review.YoutubeTrailerId)" title="@(_review.Title + "Trailer")"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </DZGridItem>
            </div>
        }
    </DZGrid>

    <DZGrid>
        @foreach (var category in _review.Categories)
        {
            <DZChip Size=CSSSize.Normal>@category</DZChip>
        }
    </DZGrid>

    <DZMarkdown Value="@_review.MDContent" />

    <DZGrid Spacing=5>
        @if (_review.Rating != null)
        {
            <DZGridItem>
                <DZCard SuppressHover=true Width=450>
                    <DZCardHeader>
                        <DZIcon CustomColor="#ffb400" Icon="fas fa-star-half-alt" />
                        <DZText Typo=@CSSTypo.H2>@($"Score: {_review.Score}")</DZText>
                    </DZCardHeader>
                    <DZCardContent>
                        <DZGrid ItemAlgin=CSSAlignment.Center Spacing=10>
                            <DZGridItem>
                                <DZRating Score="@_review.Rating.Actors" Icon="far fa-grin-stars" Title="Actors" />
                            </DZGridItem>
                            <DZGridItem>
                                <DZRating Score="@_review.Rating.Plot" Icon="fas fa-book" Title="Plot" />
                            </DZGridItem>
                            <DZGridItem>
                                <DZRating Score="@_review.Rating.Regie" Icon="fas fa-bullhorn" Title="Regie" />
                            </DZGridItem>
                            <DZGridItem>
                                <DZRating Score="@_review.Rating.Music" Icon="fas fa-compact-disc" Title="Music" />
                            </DZGridItem>
                            <DZGridItem>
                                <DZRating Score="@_review.Rating.Ambience" Icon="fas fa-mountain" Title="Ambience" />
                            </DZGridItem>
                        </DZGrid>
                    </DZCardContent>
                </DZCard>
            </DZGridItem>
        }

        @if (_review.Stars?.Any() ?? false)
        {
            <DZGridItem>
                <DZCard SuppressHover=true Width=450>
                    <DZCardHeader>
                        <DZIcon CustomColor="#ffb400" Icon="fas fa-theater-masks" />
                        <DZText Typo=@CSSTypo.H2>Mentioned</DZText>
                    </DZCardHeader>
                    <DZCardContent>
                        <DZGrid Spacing=10>
                            @foreach (var star in _review.Stars)
                            {
                                <DZGridItem>
                                    <DZGrid>
                                        <img src="@(star.ProfilePictureUrl ?? "assets/images/pb_placeholder.png")" style="@CreateAvaterStyle()" height=60 width=60 alt="Avatar" />
                                        <DZSpacer Spacing=5 />
                                        <DZGrid Direction=CSSDirection.Column JustifyContent=CSSJustifyContent.Center>
                                            <DZText Typo=@CSSTypo.H3 Color=@ThemeColor.Primary>@star.Surename @star.Name</DZText>
                                            <DZText>@star.Job</DZText>
                                        </DZGrid>
                                    </DZGrid>
                                </DZGridItem>
                            }
                        </DZGrid>
                    </DZCardContent>
                </DZCard>
            </DZGridItem>
        }

        <DZGridItem>
            <DZCard SuppressHover=true Width=450>
                <DZCardHeader>
                    <DZIcon CustomColor="#ffb400" Icon="fas fa-tags" />
                    <DZText Typo=@CSSTypo.H2>Tags</DZText>
                </DZCardHeader>
                <DZCardContent>
                    <DZGrid ItemAlgin=CSSAlignment.Center>
                        @foreach (var star in GetAllTags())
                        {
                            <DZChip Size=CSSSize.Normal>@star</DZChip>
                        }
                    </DZGrid>
                </DZCardContent>
            </DZCard>
        </DZGridItem>
    </DZGrid>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    public DataContext Context { get; set; }

    [Inject]
    private CSSBuilder _cssBuilder { get; set; }

    private VMMovie _review = new VMMovie();

    protected override async Task OnInitializedAsync()
    {
        _review = await Context.From(new GetByInt<VMMovie>(Endpoints.Movies.Get, Id), default);
    }

    private string CreateAvaterStyle()
        => _cssBuilder.Create()
            .SetBorder(50, 0, ThemeColor.Primary)
            .Build();

    private string GetUSKText()
        => _review.USK switch
        {
            MovieUSK.AK0 => "0",
            MovieUSK.AK6 => "6",
            MovieUSK.AK12 => "12",
            MovieUSK.AK16 => "16",
            MovieUSK.AK18 => "18",
            _ => string.Empty
        };

    private string GetUSKColor()
    => _review.USK switch
    {
        MovieUSK.AK6 => "color: #F5DF00",
        MovieUSK.AK12 => "color: #1CA344",
        MovieUSK.AK16 => "color: #2093C3",
        MovieUSK.AK18 => "color: #D82F28",
        MovieUSK.AK0 or _ => string.Empty,
    };

    private List<string> GetAllTags()
        => _review.Categories
            .Concat(_review.Tags)
            .Concat(_review.Stars.Select(x => $"{x.Surename} {x.Name}"))
            .Distinct()
            .OrderBy(x => x)
            .ToList();
}