@page "/podcast"

<div>
    <DZGrid ItemAlgin=CSSAlignment.Center>
        <img src="@_podcast.ImageUrl" width="90" height="90" style="margin-right: 10px" />

        <div class="hideOnDesktop">
            <DZText Typo="@CSSTypo.H1" Color="@ThemeColor.Primary">Tapetenlasagne</DZText>
        </div>

        <DZGrid Direction=CSSDirection.Column>

            <div class="hideOnMobile">
                <DZText Typo="@CSSTypo.H1" Color="@ThemeColor.Primary">Tapetenlasagne</DZText>
            </div>

            <DZText>@_podcast.Description</DZText>

            <DZGrid>
                @foreach (var category in _podcast.Categories)
                {
                    <DZChip Size=CSSSize.Small>@category</DZChip>
                }
            </DZGrid>

        </DZGrid>

    </DZGrid>

    <DZSpacer Spacing=15 />

    <DZGrid Spacing=5>
        @foreach (var episode in _podcast.Episodes)
        {
            <DZGridItem>
            <DZCard Width=250>
                <DZCardImageHeader Height=200 ImageUrl=@episode.ImageUrl />
                <DZCardContent>
                    <DZGrid Direction=CSSDirection.Column Spacing=5>
                        <DZGridItem>
                            <DZText Typo="CSSTypo.H2" Color="@ThemeColor.Primary">@episode.Title</DZText>
                        </DZGridItem>
                        <DZGridItem>
                            <DZText Typo=CSSTypo.Subtitle>@episode.Publication.ToShortDateString()</DZText>
                        </DZGridItem>
                        <DZGridItem>
                            <DZText>@episode.Description</DZText>
                        </DZGridItem>
                    </DZGrid>
                </DZCardContent>
                <DZCardFooter>
                    <DZIconButton Icon="fab fa-spotify" CustomColor="#0FB64A" OnClick=@(() => NavManager.NavigateTo(episode.Spotify)) />
                    <DZIconButton Icon="fab fa-itunes" CustomColor="#DF626E" OnClick=@(() => NavManager.NavigateTo(episode.ITunes)) />
                    <DZIconButton Icon="fab fa-instagram" CustomColor="#983C9E" OnClick=@(() => NavManager.NavigateTo(episode.Instagram)) />
                    <DZIconButton Icon="fas fa-rss" CustomColor="#FFA500" OnClick=@(() => NavManager.NavigateTo(episode.RSS)) />
                </DZCardFooter>
            </DZCard>
            </DZGridItem>
        }
    </DZGrid>
</div>

@code {
    [Inject]
    public DataContext DataContext { get; set; }

    [Inject]
    public NavigationManager NavManager { get; set; }

    private VMPodcast _podcast = new();

    protected override async Task OnInitializedAsync()
    {
        _podcast = await DataContext.From(new Get<VMPodcast>(Endpoints.Podcast.Get), default);
    }
}