@page "/trades/earningcall/{id:int}"

@using dominikz.Client.Components.Charts
@using dominikz.Client.Utils

<div class="flex-column gap">

    <div class="flex-row-no-wrap gap">
        <div class="avatar">
            @if (string.IsNullOrWhiteSpace(_data?.LogoUrl) == false)
            {
                <img style="background-color: @Colorizer.CreateColorDarkByText(_data?.Symbol)" height="150" width="150" src="@_data?.LogoUrl" alt="Logo"/>
            }
            else
            {
                <div style="background-color: @Colorizer.CreateColorDarkByText(_data?.Symbol)" class="avatar-placeholder">
                    <span>@_data?.Symbol[..Math.Min(2, _data.Symbol.Length)]</span>
                </div>
            }
        </div>
        <span style="font-size: xx-large">
            <b>@_data?.Company</b>
        </span>
    </div>

    @* Information Cards *@
    <div class="ec-card-container">
        <div class="ec-card flex-row-no-wrap gap spacing">
            <span class="ec-card-symbol">🏛️</span>
            <div class="ec-card-data-container">
                <span class="ec-card-data-name">Symbol:</span>
                <span class="ec-card-data-value">@_data?.Symbol</span>
                <span class="ec-card-data-name">ISIN:</span>
                <span class="ec-card-data-value">@_data?.ISIN</span>
                <span class="ec-card-data-name">Time:</span>
                <span class="ec-card-data-value">@_data?.Time</span>
                <span class="ec-card-data-name">Release:</span>
                <span class="ec-card-data-value">@($"{_data?.Timestamp:HH:mm}")</span>
            </div>
        </div>

        <div class="ec-card flex-row-no-wrap gap spacing">
            <span class="ec-card-symbol">📑</span>
            <div class="ec-card-data-container">
                <span class="ec-card-data-name">Revenue Estimate:</span>
                <span class="ec-card-data-value ">@($"{_data?.RevenueEstimate.ToString("C", _culture)}")</span>
                <span class="ec-card-data-name">Revenue Actual:</span>
                <span class="ec-card-data-value @GetColorByValue(_data?.RevenueActual, _data?.RevenueEstimate)">@($"{_data?.RevenueActual.ToString("C", _culture)}")</span>
                <span class="ec-card-data-name">EPS Estimate:</span>
                <span class="ec-card-data-value">@($"{_data?.EpsEstimate.ToString("C", _culture)}")</span>
                <span class="ec-card-data-name">EPS Actual:</span>
                <span class="ec-card-data-value @GetColorByValue(_data?.EpsActual, _data?.EpsEstimate)">@($"{_data?.EpsActual.ToString("C", _culture)}")</span>
            </div>
        </div>

        <div class="ec-card flex-row-no-wrap gap spacing">
            <span class="ec-card-symbol">📈</span>
            <div class="ec-card-data-container">
                <span class="ec-card-data-name">Current Price:</span>
                <span class="ec-card-data-value">@_data?.LastStockPrice?.ToString("C", _culture)</span>
                <span class="ec-card-data-name">Updated:</span>
                <span class="ec-card-data-value">@($"{_data?.Updated:HH:mm:ss}")</span>
                <span class="ec-card-data-name">Snapshots:</span>
                <span class="ec-card-data-value">@_data?.Snapshots</span>
            </div>
        </div>

        @if (_data?.Trade != null)
        {
            <div class="ec-card flex-row-no-wrap gap spacing">
                <span class="ec-card-symbol">🚀</span>
                <div class="ec-card-data-container">
                    <span class="ec-card-data-name">Buy In:</span>
                    <span class="ec-card-data-value">@($"{_data.Trade.BuyIn.ToString("C", _culture)} ({_data.Trade.BuyInTimestamp:HH:mm:ss})")</span>
                    <span class="ec-card-data-name">Buy Out:</span>
                    <div class="ec-card-data-value">
                        <span class="@GetColorByValue(_data.Trade.BuyOut, _data.Trade.BuyIn)">@($"{_data.Trade.BuyOut?.ToString("C", _culture)}")</span>
                        <span>@($"({_data.Trade.BuyOutTimestamp:HH:mm:ss})")</span>
                    </div>
                    <span class="ec-card-data-name">Stock Count:</span>
                    <span class="ec-card-data-value">@_data.Trade.StockCount</span>
                    <span class="ec-card-data-name">Fee:</span>
                    <span class="ec-card-data-value">@_data.Trade.Fee?.ToString("C", _culture)</span>
                    <span class="ec-card-data-name">Tax:</span>
                    <span class="ec-card-data-value">@_data.Trade.Tax?.ToString("C", _culture)</span>
                </div>
            </div>

            <div class="ec-card flex-row-no-wrap gap spacing">
                <span class="ec-card-symbol">💵</span>
                <div class="ec-card-data-container">
                    <span class="ec-card-data-name">Revenue:</span>
                    <span class="ec-card-data-value @GetColorByValue(CalculateTradeSummaryView().Revenue)">@(CalculateTradeSummaryView().Revenue.ToString("C", _culture))</span>
                    <span class="ec-card-data-name">Fee:</span>
                    <span class="ec-card-data-value">@(CalculateTradeSummaryView().Fee.ToString("C", _culture))</span>
                    <span class="ec-card-data-name">Revenue (Brutto):</span>
                    <span class="ec-card-data-value @GetColorByValue(CalculateTradeSummaryView().Brutto)">@(CalculateTradeSummaryView().Brutto.ToString("C", _culture))</span>
                    <span class="ec-card-data-name">Tax:</span>
                    <span class="ec-card-data-value">@(CalculateTradeSummaryView().Tax.ToString("C", _culture))</span>
                    <span class="ec-card-data-name">Revenue (Netto):</span>
                    <span class="ec-card-data-value @GetColorByValue(CalculateTradeSummaryView().Netto)">@(CalculateTradeSummaryView().Netto.ToString("C", _culture))</span>
                </div>
            </div>
        }

        @if ((_data?.Externals.Length ?? 0) > 0)
        {
            <div class="ec-card flex-row-no-wrap gap spacing">
                <span class="ec-card-symbol">🔗</span>
                <div class="flex-column gap">
                    @foreach (var external in _data!.Externals)
                    {
                        <a style="color: cornflowerblue" href="@external.Url">@external.Name</a>
                    }
                </div>
            </div>
        }

    </div>

    @* Timeline *@
    <span style="font-size: x-large">
        <b>Timeline</b>
    </span>
    <div class="hide-on-mobile">
        <LineChart Values="@ConvertToLineChartEntry()"/>
    </div>

    @* Quarters *@
    <span style="font-size: x-large">
        <b>Last 4 Quarters</b>
    </span>
    <BarChart Values="@ConvertToBarChartEntry()"/>

</div>