@using dominikz.Domain.Structs

<div class="flex-column gap">

    @* Tags  *@
    <div class="flex-row gap">

        @if (string.IsNullOrWhiteSpace(Title) == false)
        {
            <div>
                <span class="title">@Title</span>
            </div>
        }

        <EditableChip @ref="_addChip" ValueChanged="OnAddValueChanged"/>

        @foreach (var value in Values.OrderBy(x => x))
        {
            <EditableChip @ref="ChipRef"
                          Value="@value"
                          ValueChanged="@((x) => OnValueChanged(value, x))"/>
        }

    </div>

    @* Recommendations *@
    @if (Recommendations.Count > 0)
    {
        <div class="flex-row gap recommendation">
            @foreach (var recommended in Recommendations)
            {
                <Chip T="TextStruct"
                      AllowSelect="false"
                      Value="@(new TextStruct(recommended))"
                      Title="@recommended"
                      Clicked="OnRecommendedTagClicked"/>
            }
        </div>
    }
</div>