@page "/blog"
@using dominikz.dev.Components
@using dominikz.dev.Components.Cards
@using dominikz.dev.Components.Chips
@using dominikz.dev.Components.Tables
@using dominikz.dev.Definitions
@using dominikz.dev.Utils
@using dominikz.shared.Contracts
@using dominikz.shared.ViewModels

<PageTitle>Blog</PageTitle>

<div class="blog">
    <Searchbox ValueChanged="@OnSearchChanged" />

    <ChipSelection T="ArticleCategoryEnum"
                   Title="Category"
                   Values="Enum.GetValues<ArticleCategoryEnum>()[1..].ToList()"
                   TextFormatter="(x) => EnumConverter.ToString(x)"
                   SelectedChanged="@OnCategoryChanged" />

    <div class="blog-menue-container">

        <ViewSelector @bind-Selected="_view" />

        <OrderSelector OrderKeys="@ArticleTableDefinition.OrderKeys" ValueChanged="OnOrderChanged" />

    </div>

    @if (_view == CollectionView.Table)
    {
        <Table T="ArticleListVm"
           Values="@_articles"
           Columns="@ArticleTableDefinition.Columns"
           OnRowClicked="(article) => NavigateToDetail(article.Id)"
           ShowIndex=true />
    }
    else
    {
        <CardGrid>
            @foreach (var article in _articles)
            {
                <VerticalCard Highlight=@article.Featured
                      Title="@article.Title"
                      ImageUrl="@article.Image!.Url"
                      OnClick="() => NavigateToDetail(article.Id)">

                    <div class="blog-card">

                        <div class="blog-card-content">
                            <Lable Icon="fa-solid fa-calendar" Text="@article.Timestamp.ToString("yyyy-MM-dd")" />
                            <Lable Text="@EnumConverter.ToString(article.Category)" />
                        </div>

                        <div class="blog-card-author">
                            <img src="@article.Author!.Image!.Url" />
                            <Lable Icon="fa-solid fa-at" Text="@GetInitials(article.Author!.Name)" />
                        </div>

                    </div>
                </VerticalCard>
            }
        </CardGrid>
    }
</div>