@page "/blog"
@using dominikz.dev.Components
@using dominikz.dev.Components.Buttons
@using dominikz.dev.Components.Cards
@using dominikz.dev.Components.Chips
@using dominikz.dev.Components.Tables
@using dominikz.dev.Definitions
@using dominikz.dev.Models
@using dominikz.dev.Utils
@using dominikz.shared.Contracts
@using dominikz.shared.ViewModels

<PageTitle>Blog</PageTitle>

<div class="flex-column gap">

    <TextBox @ref="_searchbox"
             DelayInputTrigger="true"
             Placeholder="Search ..."
             Icon="fa-solid fa-magnifying-glass"
             ValueChanged="@((value) => NavManager!.AttachOrUpdateRawQueryParam(QueryNames.Blog.Search, value))"/>

    <ChipSelect T="ArticleCategoryEnum"
                Title="Category"
                @ref="_categorySelect"
                OnSelectedChanged="@((value) => NavManager!.AttachOrUpdateQueryParam(QueryNames.Blog.Category, value))"
                Values="Enum.GetValues<ArticleCategoryEnum>()[1..^1].ToList()"/>

    <ChipSelect T="ArticleSourceEnum"
                Title="Source"
                @ref="_sourceSelect"
                OnSelectedChanged="@((value) => NavManager!.AttachOrUpdateQueryParam(QueryNames.Blog.Source, value))"
                Values="Enum.GetValues<ArticleSourceEnum>().ToList()"/>

    <div class="flex-row gap">

        @if (_hasCreatePermission)
        {
            <div class="menu-element gap">
                <IconButton OnClick="OnRssFeedClicked" Icon="fa-solid fa-circle-plus"/>
            </div>    
        }
        
        <div class="menu-element gap">
            <i class="fa-solid fa-border-top-left"></i>
            <Switch @bind-State="_view"/>
            <i class="fa-solid fa-bars-staggered"></i>
        </div>

        <div class="menu-element">
            <IconButton OnClick="OnRssFeedClicked" Icon="fa-solid fa-square-rss"/>
            <IconButton OnClick="OnCopyLinkClicked" Icon="fa-solid fa-link"/>
            <IconButton OnClick="OnCreateCURLClicked" Icon="fa-solid fa-code"/>
        </div>
    </div>

    @if (_view == (int)CollectionView.Table)
    {
        <Table T="ArticleListVm"
               Values="@_articles"
               Columns="@ArticleTableDefinition.Columns"
               OnRowClicked="(article) => NavigateToDetail(article.Id)"
               ShowIndex="true">
        </Table>
    }
    else
    {
        <CardGrid>
            @foreach (var article in _articles)
            {
                <VerticalCard Highlight=@article.Featured
                              Title="@article.Title"
                              ImageUrl="@article.Image!.Url"
                              OnClick="() => NavigateToDetail(article.Id)">

                    <div class="blog-card">

                        <div class="flex-column gap">
                            @if (article.Category != ArticleCategoryEnum.Unknown)
                            {
                                <Lable Text="@EnumFormatter.ToString(article.Category)"/>
                            }
                            else
                            {
                                <Lable Text="@($"💬 {article.AltCategories}")"/>
                            }
                            <Lable Text="@article.Timestamp.ToString("yyyy-MM-dd")"/>
                        </div>

                        <div class="blog-card-author avatar">
                            <img src="@article.Author!.Image!.Url" alt="Image of article author"/>
                        </div>

                    </div>
                </VerticalCard>
            }
        </CardGrid>
    }
</div>