@page "/blog"
@using dominikz.dev.Components
@using dominikz.dev.Components.Buttons
@using dominikz.dev.Components.Cards
@using dominikz.dev.Components.Chips
@using dominikz.dev.Components.Tables
@using dominikz.dev.Definitions
@using dominikz.dev.Models
@using dominikz.dev.Utils
@using dominikz.shared.Contracts
@using dominikz.shared.ViewModels

<PageTitle>Blog</PageTitle>

<div class="blog">

    <Searchbox @ref="_searchbox" QueryBinding="search"/>

    <ChipSelect T="ArticleCategoryEnum"
                   @ref="_categorySelect"
                   QueryBinding="category"
                   Title="Category"
                   Values="Enum.GetValues<ArticleCategoryEnum>()[1..^1].ToList()"/>

    <ChipSelect T="ArticleSource"
                   @ref="_sourceSelect"
                   QueryBinding="source"
                   Title="Source"
                   Values="Enum.GetValues<ArticleSource>().ToList()"/>

    <div class="blog-menu-container blog-gap">
        <div class="blog-menu-container-element blog-gap">
            <i class="fa-solid fa-border-top-left"></i>
            <Switch @bind-State="_view"/>
            <i class="fa-solid fa-bars-staggered"></i>
        </div>

        <div class="blog-menu-container-element">
            <IconButton OnClick="OnRssFeedClicked" Icon="fa-solid fa-square-rss"/>
            <IconButton OnClick="OnCopyLinkClicked" Icon="fa-solid fa-link"/>
            <IconButton OnClick="OnCreateCURLClicked" Icon="fa-solid fa-code"/>
        </div>

    </div>

    @if (_view == (int)CollectionView.Table)
    {
        <Table T="ArticleListVm"
               Values="@_articles"
               Columns="@ArticleTableDefinition.Columns"
               OnRowClicked="(article) => NavigateToDetail(article.Id)"
               ShowIndex="true">
        </Table>
    }
    else
    {
        <CardGrid>
            @foreach (var article in _articles)
            {
                <VerticalCard Highlight=@article.Featured
                              Title="@article.Title"
                              ImageUrl="@article.Image!.Url"
                              OnClick="() => NavigateToDetail(article.Id)">

                    <div class="blog-card">

                        <div class="blog-card-content">
                            @if (article.Category != ArticleCategoryEnum.Unknown)
                            {
                                <Lable Text="@EnumConverter.ToString(article.Category)"/>
                            }
                            else
                            {
                                <Lable Text="@($"💬 {article.AltCategories}")"/>
                            }
                            <Lable Text="@article.Timestamp.ToString("yyyy-MM-dd")"/>
                        </div>

                        <div class="blog-card-author">
                            <img src="@article.Author!.Image!.Url" alt="Image of article author"/>
                        </div>

                    </div>
                </VerticalCard>
            }
        </CardGrid>
    }
</div>