@page "/blog/{articleid:guid}"
@using dominikz.dev.Components
@using dominikz.dev.Components.Chips
@using dominikz.dev.Utils

@if (_article is not null)
{
    <h2>@_article.Title</h2>

    <Panel Gap="8">
        <Lable Icon="fa-solid fa-calendar" Text="@_article.Timestamp.ToString("yyyy-MM-dd")" />
        <Lable Icon="fa-solid fa-at" Text="@_article.Author!.Name" />
        <Lable Icon="category" Text="@(EnumConverter.ToString(_article.Category))" />
    </Panel>

    <hr />

    <Panel>
        @foreach (var tag in _article.Tags)
        {
            <div class="blogdetail-tag">
                <Chip T="string" Title="@tag" AllowSelect=false></Chip>
            </div>
        }
    </Panel>

    <hr />

    <div class="blogdetail-text">
        @((MarkupString)(_article.Text ?? string.Empty))
    </div>
}