@page "/blog/{articleid:guid}"
@using dominikz.dev.Components
@using dominikz.dev.Components.Chips
@using dominikz.dev.Utils
@using dominikz.shared.Contracts

@if (_article is not null)
{
    <h2>@_article.Title</h2>

    <Panel Gap="8">
        <Lable Text="@($"🕑 {_article.Timestamp:yyyy-MM-dd}")"/>
        <Lable Text="@($"✏️ {_article.Author!.Name}")"/>
        @if (_article.Category != ArticleCategoryEnum.Unknown)
        {
            <Lable Text="@EnumConverter.ToString(_article.Category)"/>
        }
        else
        {
            <Lable Text="@($"💬 {_article.AltCategories}")"/>
        }
    </Panel>

    <hr/>

    <Panel>
        @foreach (var tag in _article.Tags)
        {
            <div class="blogdetail-tag">
                <Chip T="string" Title="@tag" AllowSelect=false></Chip>
            </div>
        }
    </Panel>

    <hr/>

    <div class="blogdetail-text">
        @((MarkupString)(_article.Text ?? string.Empty))
    </div>
}