@page "/scripts/csharp"

@foreach (var script in _scripts)
{
    <DZExpCard Width=70>
        <DZExpCardHeader>
            <DZGrid Direction=CSSDirection.Row JustifyContent=CSSJustifyContent.Space_Between ItemAlgin=CSSAlignment.Center>
                <div>
                    <DZGrid Direction=CSSDirection.Column>
                        <DZText Typo="CSSTypo.H2" Color=ThemeColor.Primary>@script.Title</DZText>
                        <DZText Typo=CSSTypo.Subtitle>@script.Description</DZText>
                    </DZGrid>
                    <DZGrid>
                        @foreach (var tag in script.Tags)
                        {
                            <DZChip Size=CSSSize.Small>@tag</DZChip>
                        }
                    </DZGrid>
                </div>
                <DZSpacer />
                <DZIconButton Icon="fas fa-copy" Color=ThemeColor.Primary />
            </DZGrid>
        </DZExpCardHeader>
        <DZExpCardContent>
            <DZMarkdown Value="@script.Code" />
        </DZExpCardContent>
    </DZExpCard>
}

@*@foreach (var script in _scripts)
    {
    <DZCard Width=769>
    <DZCardContent>
    <DZGrid Direction=CSSDirection.Column>
    <DZText Typo="CSSTypo.H2">@script.Title</DZText>
    <DZText Typo=CSSTypo.Subtitle>@script.Description</DZText>
    </DZGrid>

    <DZGrid>
    @foreach (var tag in script.Tags)
    {
    <DZChip Size=CSSSize.Small>@tag</DZChip>
    }
    </DZGrid>
    </DZCardContent>
    <DZCardExpandableFooter>
    <DZMarkdown Value="@script.Code" />
    </DZCardExpandableFooter>
    </DZCard>
    }*@

@code {

    [Inject]
    private DataContext _context { get; set; }

    private List<VMScript> _scripts { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _scripts = await _context.From(new Get<List<VMScript>>(Endpoints.Scripts.CSharp), default);
    }
}
