<div class="flex-row gap">

    @if (HideUploadIfCompleted == false || Selected.Count < MaxSelectedFiles)
    {
        <div class="label-wrapper gap">

            <i class="fa-solid fa-cloud-arrow-up"></i>

            @if (string.IsNullOrWhiteSpace(_error) == false)
            {
                <span class="error-label">@($" {_error}")</span>
            }

            <InputFile class="input-hide" OnChange="@LoadFiles" multiple/>

            <style>
                .input-hide {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    z-index: 999;
                }
            </style>
        </div>
    }

    @foreach (var selected in Selected.Take(MaxSelectedFiles).OrderBy(x => x.Name))
    {
        <FilePreview RemoveClicked="CallSelectedFileRemoved" FileClicked="CallFileDeselected" File="@selected"/>
    }

    @foreach (var file in Files.Take(MaxFiles).OrderBy(x => x.Name))
    {
        <div class="@(Selected.Count > 0 ? "recommendation" : string.Empty)">
            <FilePreview RemoveClicked="FileRemoved" FileClicked="CallFileSelected" File="@file"/>
        </div>
    }

</div>