@using dominikz.Domain.Enums.Music
@using dominikz.Domain.ViewModels.Songs
@using dominikz.Client.Components.Instruments

<div class="flex-column gap">

<div class="flex-row gap">
    <span>Positions: </span>
    <NumberPicker @bind-Value="Positions"/>
</div>

@if (Value != null)
{
    <div class="flex-row gap">
        <span>Tact: </span>
        <ComboBox T="TactEnum" @bind-Selected="Value.Tact" Values="@(Enum.GetValues<TactEnum>().ToList())"/>
    </div>

    <div class="flex-row gap">
        <span>Clef: </span>
        <ComboBox T="ClefEnum" @bind-Selected="Value.Clef" Values="@(Enum.GetValues<ClefEnum>().ToList())"/>
    </div>

    <div class="flex-row gap">

        @foreach (var note in Value.Notes.OrderBy(x => x.Position))
        {
            <div class="note-input flex-column gap">
                <NumberPicker @bind-Value="note.Position"/>
                <NumberPicker @bind-Value="note.Segment"/>
                <ComboBox T="NoteEnum" @bind-Selected="note.Note" Values="@(Enum.GetValues<NoteEnum>().Where(x => x.ToString().Length == 1).ToList())"/>
                <ComboBox T="NoteTypeEnum" @bind-Selected="note.Type" Values="@(Enum.GetValues<NoteTypeEnum>().ToList())"/>
                <IconButton Icon="fa-solid fa-circle-minus" OnClick="@(() => Value!.Notes.Remove(note))"/>
            </div>

            @switch (Value?.Clef)
            {
                case ClefEnum.Treble:
                    <div class="flex-column">

                        <div class="song-lane-info flex-row gap">
                            <span>B</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 5, NoteEnum.B)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>A</span>
                            <div class="song-lane-help @GetLaneStyle(note, 5, NoteEnum.A)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>G</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 5, NoteEnum.G)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>F</span>
                            <div class="song-lane @GetLaneStyle(note, 5, NoteEnum.F)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>E</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 5, NoteEnum.E)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>D</span>
                            <div class="song-lane @GetLaneStyle(note, 5, NoteEnum.D)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>C</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 5, NoteEnum.C)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>B</span>
                            <div class="song-lane @GetLaneStyle(note, 4, NoteEnum.B)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>A</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 4, NoteEnum.A)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>G</span>
                            <div class="song-lane @GetLaneStyle(note, 4, NoteEnum.G)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>F</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 4, NoteEnum.F)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>E</span>
                            <div class="song-lane @GetLaneStyle(note, 4, NoteEnum.E)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>D</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 4, NoteEnum.D)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>C</span>
                            <div class="song-lane-help @GetLaneStyle(note, 4, NoteEnum.C)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>B</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 3, NoteEnum.B)"></div>
                        </div>
                    </div>
                    break;
                case ClefEnum.Bass:
                    <div class="flex-column">

                        <div class="song-lane-info flex-row gap">
                            <span>D</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 4, NoteEnum.D)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>C</span>
                            <div class="song-lane-help @GetLaneStyle(note, 4, NoteEnum.C)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>B</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 3, NoteEnum.B)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>A</span>
                            <div class="song-lane @GetLaneStyle(note, 3, NoteEnum.A)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>G</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 3, NoteEnum.G)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>F</span>
                            <div class="song-lane @GetLaneStyle(note, 3, NoteEnum.F)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>E</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 3, NoteEnum.E)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>D</span>
                            <div class="song-lane @GetLaneStyle(note, 3, NoteEnum.D)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>C</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 3, NoteEnum.C)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>B</span>
                            <div class="song-lane @GetLaneStyle(note, 2, NoteEnum.B)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>A</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 2, NoteEnum.A)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>G</span>
                            <div class="song-lane @GetLaneStyle(note, 2, NoteEnum.G)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>F</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 2, NoteEnum.F)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>E</span>
                            <div class="song-lane-help @GetLaneStyle(note, 2, NoteEnum.E)"></div>
                        </div>

                        <div class="song-lane-info flex-row gap">
                            <span>D</span>
                            <div class="song-lane-empty @GetLaneStyle(note, 2, NoteEnum.D)"></div>
                        </div>
                    </div>
                    break;
            }
        }

        <div class="flex-column">
            <IconButton OnClick="GenerateCode" Icon="fa-solid fa-arrows-rotate"/>
            <IconButton Icon="fa-solid fa-circle-plus" OnClick="@(() => Value!.Notes.Add(new NoteVm()))"/>
        </div>
    </div>
}

<div class="flex-row">
    <TextBox Value="@_code"/>
</div>
</div>