@page "/songs"
@using dominikz.Client.Components.Instruments
@using dominikz.Client.Tables
@using dominikz.Client.Extensions
@using dominikz.Domain.ViewModels.Songs

<PageTitle>Songs</PageTitle>

<div class="flex-column gap">

    <TextBox @ref="_searchbox"
             DelayInputTrigger="true"
             Placeholder="Search ..."
             Icon="fa-solid fa-magnifying-glass"
             ValueChanged="@((value) => NavManager!.AttachOrUpdateRawQueryParam(QueryNames.Songs.Search, value))"/>

    <div class="flex-row gap">
        <div class="menu-element gap">
            <i class="fa-solid fa-border-top-left"></i>
            <Switch @bind-State="_isTableView"/>
            <i class="fa-solid fa-bars-staggered"></i>
        </div>
    </div>

    @if (_isTableView)
    {
        <Table T="SongVm"
               Values="@_songs"
               Columns="@SongsTableDefinition.Columns"
               OnRowClicked="@((song) => NavManager!.NavigateTo($"/songs/{song.Id}"))"
               ShowIndex="true">
        </Table>
    }
    else
    {
        <div class="flex-row gap">
            @foreach (var song in _songs)
            {
                <div class="song-card flex-column gap surface" @onclick="@(() => NavManager!.NavigateTo($"/songs/{song.Id}"))">
                    <div class="flex-column gap">
                        <LaneChart Value="song.Top.FirstOrDefault()"/>
                        <LaneChart Value="song.Bottom.FirstOrDefault()"/>
                    </div>
                    <span>@song.Name</span>
                </div>
            }
        </div>
    }

</div>