@page "/movies/{movieid:guid}"
@using dominikz.Client.Utils
@using dominikz.Domain.Extensions

<div class="movie">
    @if (_movie is not null)
    {
        <PageTitle>@_movie.Title</PageTitle>

        <div>
            <h2>@_movie.Title</h2>

            @if (_hasCreatePermission)
            {
                <div class="flex-row">
                    <div class="admin-menu-element gap">
                        <IconButton OnClick="@(() => NavManager!.NavigateTo($"/movies/edit/{_movie.Id}"))" Icon="fa-solid fa-pen-to-square"/>
                    </div>
                </div>

                <hr/>
            }

            <div class="flex-row gap">

                <span>@($"🕑 {_movie.Year}")</span>
                <span>@($"🗓 {_movie.Runtime.Hours}h {_movie.Runtime.Minutes}m")</span>

                <Rating Value="_movie.Rating"/>

                @foreach (var genre in _movie.Genres.GetFlags().ToArray()[1..])
                {
                    <span>@EnumFormatter.ToString(genre)</span>
                }
            </div>

            <hr/>
        </div>

        <div class="movie-preview">
            <img height="330" src="@_movie.ImageUrl" alt="Movie Poster"/>
            <video width="587" height="330" src="@_trailerStreamUrl" autoplay="autoplay" controls="controls" muted="muted"></video>
        </div>

        @((MarkupString)_movie.Plot)

        @if (!string.IsNullOrWhiteSpace(_movie.Comment))
        {
            <div class="movie-comment">
                <img src="assets/icons/dz.png" alt="Author Image"/>
                @((MarkupString)_movie.Comment)
            </div>
        }

        @if (_hasStreamPermission && _movie.IsTrailerStreamAvailable)
        {
            <video width="100%" height="100%" src="@_movieStreamUrl" controls="controls"></video>
        }
    }
    else
    {
        <PageTitle>Loading</PageTitle>
        <span>Loading ...</span>
    }
</div>