@typeparam T

<div class="table-wrapper">

    <table>
        @if (Columns.Any(x => !string.IsNullOrWhiteSpace(x.Name)))
        {
            <thead>
                <tr>
                    @if (ShowIndex)
                    {
                        <th scope="row">#</th>
                    }

                    @foreach (var column in Columns)
                    {
                        @if (_isMobile && column.Actions.HasFlag(ColumnActionFlags.HIDE_ON_MOBILE))
                        {
                            continue;
                        }

                        <th scope="col">@column.Name</th>
                    }
                </tr>
            </thead>
        }

        <tbody>
            @foreach (var value in Values)
            {
                <tr class="@(@Values.IndexOf(value) % 2 == 0 ? "table-row-odd" : string.Empty)" @onclick="() => OnRowClicked(value)" >
                    @if (ShowIndex)
                    {
                        <th scope="row">@(Values.IndexOf(value) + 1)</th>
                    }

                    @foreach (var column in Columns)
                    {
                        @if (_isMobile && column.Actions.HasFlag(ColumnActionFlags.HIDE_ON_MOBILE))
                        {
                            continue;
                        }

                        if (column.Actions.HasFlag(ColumnActionFlags.LINK) && column.Accessor(value) != null)
                        {
                            <td><a href="@column.Accessor(value)">Open</a></td>
                        }
                        else
                        {
                            <td>@column.Formatter(column.Accessor(value))</td>
                        }
                    }
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                @if (ShowIndex)
                {
                    <th scope="row"></th>
                }

                @foreach (var column in Columns)
                {
                    @if (_isMobile && column.Actions.HasFlag(ColumnActionFlags.HIDE_ON_MOBILE))
                    {
                        continue;
                    }

                    <td>@GetSum(column)</td>
                }
            </tr>
        </tfoot>

    </table>
</div>