@using dominikz.Domain.Enums.Cookbook
<div class="flex-row-no-wrap tooltip">

    @if (Value == NutriScoreValue.A || ShowScale)
    {
        <span class="nutriscore-letter nutriscore-letter-A @(Value != NutriScoreValue.A ? "nutriscore-letter-disabled" : "nutriscore-letter-enabled")">
            <b>A</b>
        </span>
    }

    @if (Value == NutriScoreValue.B || ShowScale)
    {
        <span class="nutriscore-letter nutriscore-letter-B @(Value != NutriScoreValue.B ? "nutriscore-letter-disabled" : "nutriscore-letter-enabled")">
            <b>B</b>
        </span>
    }

    @if (Value == NutriScoreValue.C || ShowScale)
    {
        <span class="nutriscore-letter nutriscore-letter-C @(Value != NutriScoreValue.C ? "nutriscore-letter-disabled" : "nutriscore-letter-enabled")">
            <b>C</b>
        </span>
    }

    @if (Value == NutriScoreValue.D || ShowScale)
    {
        <span class="nutriscore-letter nutriscore-letter-D @(Value != NutriScoreValue.D ? "nutriscore-letter-disabled" : "nutriscore-letter-enabled")">
            <b>D</b>
        </span>
    }

    @if (Value == NutriScoreValue.E || ShowScale)
    {
        <span class="nutriscore-letter nutriscore-letter-E @(Value != NutriScoreValue.E ? "nutriscore-letter-disabled" : "nutriscore-letter-enabled")">
            <b>E</b>
        </span>
    }
    <span class="tooltip-text">Nutri-Score</span>
</div>