@page "/cookbook"
@using dominikz.Client.Tables
@using Microsoft.AspNetCore.Components
@using dominikz.Client.Extensions
@using dominikz.Client.Utils
@using dominikz.Domain.Enums.Cookbook
@using dominikz.Domain.ViewModels.Cookbook

<PageTitle>Cookbook</PageTitle>

<div class="flex-column gap">

    <TextBox @ref="_searchBox"
             DelayInputTrigger="true"
             Placeholder="Search ..."
             Icon="fa-solid fa-magnifying-glass"
             ValueChanged="@(value => NavManager!.AttachOrUpdateRawQueryParam(QueryNames.Cookbook.Search, value))"/>

    <ChipSelect T="RecipeType"
                Title="Type"
                @ref="_typeSelect"
                SelectedChanged="@(value => NavManager!.AttachOrUpdateQueryParam<RecipeType>(QueryNames.Cookbook.Type, value.Count > 0 ? value.First() : null))"
                Values="Enum.GetValues<RecipeType>().OrderBy(x => (int)x).ToList()"/>

    <ChipSelect T="RecipeFlags"
                Title="Flags"
                @ref="_flagsSelect"
                SelectedChanged="@(value => NavManager!.AttachOrUpdateQueryParam<RecipeFlags>(QueryNames.Cookbook.Flags, value.Count > 0 ? value.First() : null))"
                Values="Enum.GetValues<RecipeFlags>().OrderBy(x => (int)x).ToArray()[1..].ToList()"/>

    <div class="flex-row gap">

        @if (_hasCreatePermission)
        {
            <div class="admin-menu-element gap">
                <IconButton OnClick="@(() => NavManager!.NavigateTo("/cookbook/recipes/edit"))" Icon="fa-solid fa-circle-plus"/>
            </div>

            <div class="admin-menu-element gap">
                <IconButton OnClick="@(() => NavManager!.NavigateTo("/cookbook/foods"))" Icon="fa-solid fa-apple-whole"/>
            </div>
        }

        <div class="menu-element gap">
            <i class="fa-solid fa-border-top-left"></i>
            <Switch @bind-State="_isTableView"/>
            <i class="fa-solid fa-bars-staggered"></i>
        </div>

        <div class="menu-element">
            <IconButton OnClick="OnCopyLinkClicked" Icon="fa-solid fa-link"/>
            <IconButton OnClick="OnCreateCURLClicked" Icon="fa-solid fa-code"/>
        </div>
    </div>

    @if (_isTableView)
    {
        <Table T="RecipeListVm"
               Values="@_recipes"
               Columns="@RecipeTableDefinition.Columns"
               OnRowClicked="article => NavigateToDetail(article.Id)"
               ShowIndex="true">
        </Table>
    }
    else
    {
        <div class="card-grid">
            @foreach (var recipe in _recipes)
            {
                <a class="card surface" href="@NavigateToDetail(recipe.Id)">

                    <div class="card-header">
                        <img src="@recipe.ImageUrl" alt="Preview" loading="lazy"/>

                        <div class="card-header-cover">

                            <NutriScore Value="recipe.NutriScore" ShowScale="false"/>

                            @foreach (var flag in recipe.Flags)
                            {
                                <div class="tooltip">
                                    <span>@EnumFormatter.ToIcon(flag)</span>
                                    <span class="tooltip-text">@EnumFormatter.ToText(flag)</span>
                                </div>
                            }

                        </div>
                    </div>

                    <div class="card-body gap">

                        <span class="card-body-title">@recipe.Name</span>

                        <div class="flex-row gap">
                            <div class="tooltip">
                                <span>⏱️ @recipe.Duration</span>
                                <span class="tooltip-text">Duration</span>
                            </div>
                            <div class="tooltip">
                                <span>@EnumFormatter.ToString(recipe.Type)</span>
                                <span class="tooltip-text">Price per portion</span>
                            </div>
                        </div>

                    </div>

                </a>
            }
        </div>
    }
</div>