@typeparam T

<div class="filter-bar-wrapper" id="@WrapperId">

    <div class="filter-bar-content" style="flex-wrap: @((IsExpanded || !AllowExpand) ? "wrap" : "no-wrap"); @(ContainerWidth != null ? $"width: {ContainerWidth}px" : string.Empty)" id="@ContainerId">

        <span class="filter-title">@Title</span>

        @foreach (var value in Values)
        {
            <Chip @ref="ChipRef" Value="@value" Title="@TextAccessor(value)" OnChanged="CallOnChanged"></Chip>
        }

    </div>

    @if (IsExpandable)
    {
        if (IsExpanded)
        {
            <div class="filter-bar-expand" @onclick="(() => OnExpandChanged())">
                &#8249;
            </div>
        }
        else
        {
            <div class="filter-bar-expand" @onclick="(() => OnExpandChanged())">
                &#8250;
            </div>
        }  
    }
    
</div>