<div 
    class="article @((Data?.Featured ?? false) ? "article-highlight" : string.Empty)" 
    style="width: @(Width)px"
    @onclick="(_ => OnClick.InvokeAsync())">

    <div class="article-header">
        <img src="@Data?.Image" width="@((Data?.Featured ?? false)? Width - 6 : Width)" />
        @if (Data?.Featured ?? false)
        {
            <span>star</span>
        }
    </div>

    <div class="article-body">

        <div class="article-content" style="width: @((int)(Width * 0.8))px">

            <div class="article-content-header">
                <span class="article-content-header-title">@Data?.Title</span>
                <div class="article-content-header-container">

                    <div class="article-content-header-subtitle">
                        <span style="font-family: Material Icons">calendar_today</span>
                        <span>&nbsp; @(Data?.Date.ToString("yyyy-MM-dd"))</span>
                    </div>
                    <div class="article-content-header-subtitle">
                        <span style="font-family: Material Icons">contacts</span>
                        <span>&nbsp; @Data?.Author</span>
                    </div>
                    <div class="article-content-header-subtitle">
                        <span style="font-family: Material Icons">category</span>
                        <span>&nbsp; @Data?.Category</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="article-sidebar">
            <img src="@Data?.AuthorImage" width="@(Width / 5)" />
        </div>

    </div>
</div>