<div id="page">
    <div class="sidebar" style="width: @(_currentMenuWidth)px">
        <div class="sidebar-container">
            @foreach (var entry in Menue)
            {
                <div class="sidebar-item @(GetSelectedState(entry))" @onclick="(_ => NavigateTo(entry))">
                    <MatIcon Icon="@entry.Icon"></MatIcon>
                    <span class="sidebar-text" style="display: @(_currentTextDisplay)">@entry.Title</span>
                </div>
            }
        </div>
    </div>

    <div id="main" style="padding-left: @(_currentMenuWidth)px" @onclick="(_ => HideSidebar())">
        @ChildContent
    </div>
</div>