@page "/"
@using dominikz.Client.Utils
@using dominikz.Domain.Enums.Blog

<PageTitle>Home</PageTitle>

<div class="flex-row gap">

    @* About me *@
    <div class="panel flex-column large-gap">
        <span class="panel-title">
            <b>About me</b>
        </span>

        <div class="flex-row-no-wrap large-gap">
            <img class="avatar" src="assets/icons/dz.png" alt="Avatar"/>
            <span>
                <b>Hey there ✌️ </b><br/>
                I'm Dominik Zettl, a software developer, music, travel- and video game fan. <br/><br/>
                On my website you will find blog posts, cool projects, useful snippets and so on. <br/>
                Just lay back and click through :)
            </span>
        </div>

        <div class="flex-row-center gap">
            <img class="external clickable" src="./assets/icons/github.png" alt="Avatar" @onclick="@(() => NavigationManager!.NavigateTo("https://github.com/dominikz98"))"/>
            <img class="external clickable" src="./assets/icons/nuget.png" alt="Avatar" @onclick="@(() => NavigationManager!.NavigateTo("https://www.nuget.org/profiles/dominikz98"))"/>
            <img class="external clickable" src="./assets/icons/stackoverflow.png" alt="Avatar" @onclick="@(() => NavigationManager!.NavigateTo("https://stackoverflow.com/users/8956932/dominikz"))"/>
            <img class="external clickable" src="./assets/icons/linkedin.png" alt="Avatar" @onclick="@(() => NavigationManager!.NavigateTo("https://www.linkedin.com/in/dominik-zettl-726441261/"))"/>
            <img class="external clickable" src="./assets/icons/xing.png" alt="Avatar" @onclick="@(() => NavigationManager!.NavigateTo("https://www.xing.com/profile/Dominik_Zettl2"))"/>
            <img class="external clickable" src="./assets/icons/instagram.png" alt="Avatar" @onclick="@(() => NavigationManager!.NavigateTo("https://www.instagram.com/dominik_zettl/"))"/>
        </div>
    </div>

    @* Blog *@
    <div class="panel clickable flex-column large-gap" @onclick="@(() => NavigationManager!.NavigateTo("/blog"))">
        <span class="panel-title">
            <b>Blog</b>
        </span>

        <div class="flex-row-no-wrap large-gap">

            <div class="constributor-container gap">
                <div class="flex-row-no-wrap gap">
                    <img class="constributor" src="assets/icons/medlan.png" alt="Markus Liebl"/>
                    <img class="constributor" src="assets/icons/noobit.png" alt="Tobias Haimerl"/>
                </div>
                <img class="constributor" src="assets/icons/dz.png" alt="Dominik Zettl"/>
            </div>

            <div>
                <span>
                    Together with Markus Liebl (<a href="https://medlan.de/">medlan.de</a>) and Tobias Haimerl (<a href="https://noobit.dev/">noobit.dev</a>) we post interesting articles on topics such as: <br/><br/>
                </span>

                <div class="flex-row gap">
                    @foreach (var category in Enum.GetValues<ArticleCategoryEnum>()[..^1])
                    {
                        <span>@($"{EnumFormatter.ToString(category)}")</span>
                    }
                </div>

                <span>
                    Sepcial thans to my friends, for sharing their content ❤️
                </span>
            </div>

        </div>
    </div>

    @* Moviess  *@
    <div class="panel clickable flex-column large-gap" @onclick="@(() => NavigationManager!.NavigateTo("/movies"))">
        <span class="panel-title">
            <b>Moviess</b>
        </span>

        <div class="flex-row-no-wrap large-gap">

            <div class="constributor-container gap">
                <img class="constributor" src="./assets/icons/movie.png" alt="Movies"/>
            </div>

            <span>
                This site started as a simple movie list, but evolved into a collection of data connected to Imdb and JustWatch.<br/><br/>
                Mainly this is used to keep my list up to date and quickly search for streaming services, actors and titles. <br/><br/>
                So try it out and explore categories like @GetRandomGenres()
            </span>
        </div>
    </div>

    @* $1$ Music #1# *@
    @* <div class="panel clickable lex-column gap"> *@
    @*     <span class="panel-title"> *@
    @*         <b>Music</b> *@
    @*     </span> *@
    @*      *@
    @*     <span> *@
    @*         I started learning piano in 2020 #CoronaVibes :/<br/> *@
    @*         As a programmer, what could be more natural than to integrate this into my website?<br/><br/> *@
    @* *@
    @*         So here we go, you can find my attempt of a virtual 🎹 piano to play on.<br/><br/> *@
    @*          *@
    @*         I visualized my "played" 🎶 songs by capturing the input signals of my keyboard, so here you can find a list of them.<br/> *@
    @*     </span> *@
    @* </div> *@

</div>