@page "/login"

<EditForm EditContext="@_editContext" OnSubmit="@OnLoginClicked">
    <DataAnnotationsValidator/>

    <div class="flex-column gap login">
        <h3>Admin-Panel</h3>
        
        <TextBox Icon="fa-solid fa-user" 
                 @bind-Value="@_vm.Username" 
                 Placeholder="user@login.de"/>
        <ValidationMessage For="@(() => _vm.Username)"/>

        <TextBox Icon="fa-solid fa-key"
                 IsPassword="true"
                 @bind-Value="@_vm.Password"
                 Placeholder="*********"/>
        <ValidationMessage For="@(() => _vm.Password)"/>

        @if (_loginFailed)
        {
            <p class="login-error">🛡️ Login failed!</p>
        }

        <div class="login-button">
            <TextButton Text="Login"/>
        </div>
    </div>
</EditForm>