@typeparam T

<div class="flex-row gap">

    @if (string.IsNullOrWhiteSpace(Title) == false)
    {
        <span class="chip-selection-title">@Title</span>
    }

    <div class="flex-row gap">
        @foreach (var value in Selected.OrderBy(x => x.ToString()))
        {
            <Chip T="T"
                  Value="@value"
                  Title="@TextFormatter(value)"
                  Clicked="@(OnDeselectClicked)"/>
        }
    </div>

    <div class="flex-row gap @(Selected.Count > 0 ? "recommendation" : string.Empty)">
        @foreach (var value in Values.Except(Selected).OrderBy(x => x.ToString()))
        {
            <Chip T="T"
                  Value="@value"
                  Title="@TextFormatter(value)"
                  Clicked="@(OnSelectClicked)"/>
        }
    </div>

    @if (AllowExpand && !IsExpanded && _values.Count > ExpandLimiter)
    {
        <span class="chip-selection-expand" @onclick="CallOnExpand">Show more ...</span>
    }

    @if (AllowExpand && IsExpanded && _values.Count > ExpandLimiter)
    {
        <span class="chip-selection-expand" @onclick="CallOnExpand">Show less ...</span>
    }

</div>