@page "/cookbook/{recipeid:guid}"
@using dominikz.dev.Components
@using dominikz.dev.Components.Chips
@using dominikz.dev.Components.Tables
@using dominikz.dev.Definitions
@using dominikz.dev.Theme
@using dominikz.dev.Utils
@using dominikz.kernel
@using dominikz.kernel.Contracts
@using dominikz.kernel.ViewModels

@if (_recipe is not null)
{
    <h2>@_recipe.Title</h2>

    <hr />

    <Panel Gap="12" FlexAlignment="CssFlexAlignment.Column" ItemAlignment="CssItemAlignment.Start">

        <Panel Gap="8">
            @foreach (var category in _recipe.Categories.GetFlags().ToArray()[1..])
            {
                <Chip T="RecipeCategoryFlags"
              Title="@EnumConverter.ToString(category)"
              AllowSelect=false />
            }
        </Panel>

        <Panel Gap="8">
            <Chip T="string" Value="null" Title="@($"🕑 {_recipe.Duration.TotalMinutes}")" AllowSelect=false />
            <Chip T="string" Value="null" Title="@($"🥣 {_recipe.Portions}")" AllowSelect=false />
            <Chip T="string" Value="null" Title="@($"🛒 {_recipe.FoodCount}")" AllowSelect=false />
            <Chip T="string" Value="null" Title="@($"💶 {_recipe.PricePerPortion:c2}")" AllowSelect=false />

            <Chip T="string" Value="null" Title="@($"⚡ {_recipe.Foods.Sum(x => (x.Multiplier * x.Kilocalories) / _recipe.Portions):0.##}")" AllowSelect=false />
            <Chip T="string" Value="null" Title="@($"🥖 {_recipe.Foods.Sum(x => (x.Multiplier * x.Carbohydrates) / _recipe.Portions):0.##}g")" AllowSelect=false />
            <Chip T="string" Value="null" Title="@($"🥩 {_recipe.Foods.Sum(x => (x.Multiplier * x.Protein) / _recipe.Portions):0.##}g")" AllowSelect=false />
            <Chip T="string" Value="null" Title="@($"🧈 {_recipe.Foods.Sum(x => (x.Multiplier * x.Fat) / _recipe.Portions):0.##}g")" AllowSelect=false />
        </Panel>

        <Panel>
            <Table T="FoodDetailVM" Values="@_recipe.Foods" Columns="@FoodTableDefinition.Columns" ShowIndex=true />
        </Panel>

        <Panel>
            @((MarkupString)_recipe.Text)
        </Panel>

    </Panel>
}