@page "/blog/{articleid:guid}"
@using dominikz.dev.Utils

@if (_article is not null)
{
    <DetailHeader Title="@_article.Title" ImageUrl="@_article.ImageUrl">
        <Lable Darken=true FontSize="large" Icon="calendar_today" Text="@_article.Timestamp.ToString("yyyy-MM-dd")" />
        <Lable Darken=true FontSize="large" Icon="contacts" Text="@_article.Author" />
        <Lable Darken=true FontSize="large" Icon="category" Text="@(EnumConverter.ToString(_article.Category))" />
    </DetailHeader>
    
    <MatDivider />

    <Panel>
        @foreach (var tag in _article.Tags)
        {
            <div class="blogdetail-tag">
                <MatChip Label="@tag"></MatChip>
            </div>
        }
    </Panel>

    <MatDivider />

    <div class="blogdetail-text">
        @((MarkupString)(_article.HtmlText ?? string.Empty))
    </div>
}