<div class="piano">

<div class="piano-menu gap">

    <div class="flex-row-no-wrap gap">

        <div class="flex-column gap">
            <IconButton Disabled="@(_controller?.Playing ?? false)" OnClick="Play" Icon="fa-solid fa-play"/>
            <IconButton Disabled="@(_controller?.Playing == false)" OnClick="Pause" Icon="fa-solid fa-pause"/>
        </div>

        <div class="flex-column gap">
            <IconButton Disabled="@(_controller?.Playing == false)" OnClick="Stop" Icon="fa-solid fa-stop"/>
            <div class="hide-on-mobile">
                <IconButton Disabled="@(_controller?.Playing == false)" OnClick="@(() => _playedTones.Clear())" Icon="fa-solid fa-eraser"/>
            </div>
        </div>

        <div class="flex-column gap">
            <span>Song: @(_song?.Name)</span>
            <Slider ValueChanged="CallVolumeChanged" />
        </div>

        <div class="flex-column gap hide-on-mobile">
            <span>Played Notes:</span>
            <span>@(string.Join(" ", _playedTones.TakeLast(10).Select(x => $"{x.Note}{x.Segment}")))</span>
        </div>
    </div>
</div>

<div class="piano-keyboard">

<div class="piano-key-start-block auto-hide auto-hide-7">
    <div class="piano-key-position-1">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.A0"/>
    </div>
    <div class="piano-key-position-2">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Bb0"/>
    </div>
    <div class="piano-key-position-3">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.B0"/>
    </div>
</div>

<div class="piano-key-block auto-hide auto-hide-6">
    <div class="piano-key-position-1">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.C1"/>
    </div>
    <div class="piano-key-position-2">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Db1"/>
    </div>
    <div class="piano-key-position-3">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.D1"/>
    </div>
    <div class="piano-key-position-4">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Eb1"/>
    </div>
    <div class="piano-key-position-5">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.E1"/>
    </div>
    <div class="piano-key-position-6">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.F1"/>
    </div>
    <div class="piano-key-position-7">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Gb1"/>
    </div>
    <div class="piano-key-position-8">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.G1"/>
    </div>
    <div class="piano-key-position-9">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Ab1"/>
    </div>
    <div class="piano-key-position-10">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.A1"/>
    </div>
    <div class="piano-key-position-11">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Bb1"/>
    </div>
    <div class="piano-key-position-12">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.B1"/>
    </div>
</div>

<div class="piano-key-block auto-hide auto-hide-5">
    <div class="piano-key-position-1">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.C2"/>
    </div>
    <div class="piano-key-position-2">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Db2"/>
    </div>
    <div class="piano-key-position-3">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.D2"/>
    </div>
    <div class="piano-key-position-4">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Eb2"/>
    </div>
    <div class="piano-key-position-5">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.E2"/>
    </div>
    <div class="piano-key-position-6">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.F2"/>
    </div>
    <div class="piano-key-position-7">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Gb2"/>
    </div>
    <div class="piano-key-position-8">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.G2"/>
    </div>
    <div class="piano-key-position-9">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Ab2"/>
    </div>
    <div class="piano-key-position-10">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.A2"/>
    </div>
    <div class="piano-key-position-11">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Bb2"/>
    </div>
    <div class="piano-key-position-12">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.B2"/>
    </div>
</div>

<div class="piano-key-block">
    <div class="piano-key-position-1">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.C3"/>
    </div>
    <div class="piano-key-position-2">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Db3"/>
    </div>
    <div class="piano-key-position-3">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.D3"/>
    </div>
    <div class="piano-key-position-4">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Eb3"/>
    </div>
    <div class="piano-key-position-5">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.E3"/>
    </div>
    <div class="piano-key-position-6">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.F3"/>
    </div>
    <div class="piano-key-position-7">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Gb3"/>
    </div>
    <div class="piano-key-position-8">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.G3"/>
    </div>
    <div class="piano-key-position-9">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Ab3"/>
    </div>
    <div class="piano-key-position-10">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.A3"/>
    </div>
    <div class="piano-key-position-11">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Bb3"/>
    </div>
    <div class="piano-key-position-12">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.B3"/>
    </div>
</div>

<div class="piano-key-block auto-hide auto-hide-1">
    <div class="piano-key-position-1">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.C4"/>
    </div>
    <div class="piano-key-position-2">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Db4"/>
    </div>
    <div class="piano-key-position-3">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.D4"/>
    </div>
    <div class="piano-key-position-4">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Eb4"/>
    </div>
    <div class="piano-key-position-5">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.E4"/>
    </div>
    <div class="piano-key-position-6">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.F4"/>
    </div>
    <div class="piano-key-position-7">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Gb4"/>
    </div>
    <div class="piano-key-position-8">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.G4"/>
    </div>
    <div class="piano-key-position-9">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Ab4"/>
    </div>
    <div class="piano-key-position-10">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.A4"/>
    </div>
    <div class="piano-key-position-11">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Bb4"/>
    </div>
    <div class="piano-key-position-12">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.B4"/>
    </div>
</div>

<div class="piano-key-block auto-hide auto-hide-2">
    <div class="piano-key-position-1">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.C5"/>
    </div>
    <div class="piano-key-position-2">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Db5"/>
    </div>
    <div class="piano-key-position-3">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.D5"/>
    </div>
    <div class="piano-key-position-4">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Eb5"/>
    </div>
    <div class="piano-key-position-5">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.E5"/>
    </div>
    <div class="piano-key-position-6">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.F5"/>
    </div>
    <div class="piano-key-position-7">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Gb5"/>
    </div>
    <div class="piano-key-position-8">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.G5"/>
    </div>
    <div class="piano-key-position-9">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Ab5"/>
    </div>
    <div class="piano-key-position-10">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.A5"/>
    </div>
    <div class="piano-key-position-11">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Bb5"/>
    </div>
    <div class="piano-key-position-12">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.B5"/>
    </div>
</div>

<div class="piano-key-block auto-hide auto-hide-3">
    <div class="piano-key-position-1">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.C6"/>
    </div>
    <div class="piano-key-position-2">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Db6"/>
    </div>
    <div class="piano-key-position-3">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.D6"/>
    </div>
    <div class="piano-key-position-4">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Eb6"/>
    </div>
    <div class="piano-key-position-5">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.E6"/>
    </div>
    <div class="piano-key-position-6">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.F6"/>
    </div>
    <div class="piano-key-position-7">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Gb6"/>
    </div>
    <div class="piano-key-position-8">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.G6"/>
    </div>
    <div class="piano-key-position-9">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Ab6"/>
    </div>
    <div class="piano-key-position-10">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.A6"/>
    </div>
    <div class="piano-key-position-11">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Bb6"/>
    </div>
    <div class="piano-key-position-12">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.B6"/>
    </div>
</div>

<div class="piano-key-block auto-hide auto-hide-4">
    <div class="piano-key-position-1">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.C7"/>
    </div>
    <div class="piano-key-position-2">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Db7"/>
    </div>
    <div class="piano-key-position-3">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.D7"/>
    </div>
    <div class="piano-key-position-4">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Eb7"/>
    </div>
    <div class="piano-key-position-5">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.E7"/>
    </div>
    <div class="piano-key-position-6">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.F7"/>
    </div>
    <div class="piano-key-position-7">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Gb7"/>
    </div>
    <div class="piano-key-position-8">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.G7"/>
    </div>
    <div class="piano-key-position-9">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Ab7"/>
    </div>
    <div class="piano-key-position-10">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.A7"/>
    </div>
    <div class="piano-key-position-11">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.Bb7"/>
    </div>
    <div class="piano-key-position-12">
        <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.B7"/>
    </div>
</div>

<div class="auto-hide auto-hide-4">
    <PianoKey @ref="KeyRef" Clicked="@PlayNote" Tone="Tone.C8"/>
</div>

</div>

</div>