@page "/media"
@using dominikz.dev.Components
@using dominikz.dev.Components.Cards
@using dominikz.dev.Components.Chips
@using dominikz.dev.Components.Tables
@using dominikz.dev.Definitions
@using dominikz.dev.Theme
@using dominikz.dev.Utils
@using dominikz.kernel
@using dominikz.kernel.Contracts
@using dominikz.kernel.ViewModels

<PageTitle>Media</PageTitle>

<div class="media">

    <MediaCarousel Data="_previews" />

    <Searchbox ValueChanged="OnSearchChanged" />

    <ChipSelection T="MediaCategoryEnum"
                   Title="Category"
                   Init="MediaCategoryEnum.Movie"
                   Values="Enum.GetValues<MediaCategoryEnum>()[1..].ToList()"
                   SelectedChanged="OnCategoriesChanged"
                   TextFormatter="@((x) => EnumConverter.ToString(x))" />

    @switch (_category)
    {
        case MediaCategoryEnum.Movie:
            <ChipSelection T="MovieGenresFlags"
                   AllowExpand=true
                   AllowMultiSelect=true
                   Title="Genres"
                   Values="Enum.GetValues<MovieGenresFlags>()[1..].ToList()"
                   TextFormatter="@((x) => EnumConverter.ToString(x))"
                   SelectedChanged="@OnMovieGenreChanged" />
            break;

        case MediaCategoryEnum.Book:
            <ChipSelection T="BookGenresFlags"
                   AllowExpand=true
                   AllowMultiSelect=true
                   Title="Genres"
                   Values="Enum.GetValues<BookGenresFlags>()[1..].ToList()"
                   TextFormatter="@((x) => EnumConverter.ToString(x))"
                   SelectedChanged="@OnBookGenreChanged" />

            <ChipSelection T="BookLanguageEnum"
                   Init="BookLanguageEnum.German"
                   Title="Genres"
                   Values="Enum.GetValues<BookLanguageEnum>().ToList()"
                   TextFormatter="@((x) => EnumConverter.ToString(x))"
                   SelectedChanged="@OnBookLanguageChanged" />
            break;

        case MediaCategoryEnum.Game:
            <ChipSelection T="GameGenresFlags"
                   AllowExpand=true
                   AllowMultiSelect=true
                   Title="Genres"
                   Values="Enum.GetValues<GameGenresFlags>()[1..].ToList()"
                   TextFormatter="@((x) => EnumConverter.ToString(x))"
                   SelectedChanged="@OnGameGenreChanged" />

            <ChipSelection T="GamePlatformEnum"
                   Init="GamePlatformEnum.PC"
                   Title="Genres"
                   Values="Enum.GetValues<GamePlatformEnum>().ToList()"
                   TextFormatter="@((x) => EnumConverter.ToString(x))"
                   SelectedChanged="@OnGamePlatformChanged" />
            break;
    }

    <div class="media-menue-container">

        <ViewSelector @bind-Selected="_view" />

        <OrderSelector OrderKeys="@_orderKeys" ValueChanged="OnOrderChanged" />

    </div>

    @switch (_category)
    {
        case MediaCategoryEnum.Movie:

            @if (_view == CollectionView.Table)
            {
                <Table T="MovieVM" Values="@_movies" Columns="@MovieTableDefinition.Columns" ShowIndex=true />
            }
            else
            {
                <div class="media-grid">
                    @foreach (var movie in _movies)
                    {
                        <HorizontalCard ImageUrl="@movie.Image!.Url"
                        Title="@movie.Title"
                        OnClick="() => NavigateToMovie(movie.Id)">

                            <Panel Gap="8" FlexAlignment="CssFlexAlignment.Column" ItemAlignment="CssItemAlignment.Start">
                                <span>@movie.Year</span>
                                <Rating Value=@movie.Rating />
                                <Panel>
                                    @foreach (var genre in movie.Genres.GetFlags().ToArray()[1..])
                                    {
                                        <span>@EnumConverter.ToString(genre)&nbsp;</span>
                                    }
                                </Panel>
                            </Panel>

                        </HorizontalCard>
                    }
                </div>
            }
            break;

        case MediaCategoryEnum.Game:

            @if (_view == CollectionView.Table)
            {
                <Table T="GameVM" Values="@_games" Columns="@GameTableDefinition.Columns" ShowIndex=true />
            }
            else
            {
                <div class="media-grid">
                    @foreach (var game in _games)
                    {
                        <HorizontalCard ImageUrl="@game.Image!.Url" Title="@game.Title">
                            <span>@game.Year</span>
                            <span>@EnumConverter.ToString(game.Platform)</span>
                            <Panel>
                                @foreach (var genre in game.Genres.GetFlags().ToArray()[1..])
                                {
                                    <span>@EnumConverter.ToString(genre)&nbsp;</span>
                                }
                            </Panel>
                        </HorizontalCard>
                    }
                </div>
            }
            break;

        case MediaCategoryEnum.Book:

            @if (_view == CollectionView.Table)
            {
                <Table T="BookVM" Values="@_books" Columns="@BookTableDefinition.Columns" ShowIndex=true />
            }
            else
            {
                <div class="media-grid">
                    @foreach (var book in _books)
                    {
                        <HorizontalCard ImageUrl="@book.Image!.Url" Title="@book.Title">
                            <span>@book.Year</span>
                            <span>@book.Author</span>
                            <span>@EnumConverter.ToString(book.Language)</span>
                            <Panel>
                                @foreach (var genre in book.Genres.GetFlags().ToArray()[1..])
                                {
                                    <span>@EnumConverter.ToString(genre)&nbsp;</span>
                                }
                            </Panel>
                        </HorizontalCard>
                    }
                </div>
            }
            break;
    }
</div>