@page "/media"
@using dominikz.dev.Components
@using dominikz.dev.Components.Buttons
@using dominikz.dev.Components.TabControl
@using dominikz.dev.Components.Cards
@using dominikz.dev.Components.Chips
@using dominikz.dev.Components.Tables
@using dominikz.dev.Definitions
@using dominikz.dev.Models
@using dominikz.dev.Theme
@using dominikz.dev.Utils
@using dominikz.shared
@using dominikz.shared.Contracts
@using dominikz.shared.ViewModels

<PageTitle>Media</PageTitle>

<div class="media">

    <MediaCarousel Data="_previews"/>

    <Searchbox @ref="_searchbox" OnValueChanged="@((value) => NavManager!.AttachOrUpdateRawQueryParam(QuerySearch, value))"/>

    <TabControl @ref="_categoryTabCtrl" OnPageChanged="OnPageChanged">

        <TabPage Id="@((int)MediaCategoryEnum.Movie)" Text="@(EnumFormatter.ToString(MediaCategoryEnum.Movie))">

            <ChipSelect T="MovieGenresFlags"
                        AllowExpand=true
                        Title="Genres"
                        @ref="_movieGenreSelect"
                        OnSelectedChanged="@((value) => NavManager!.AttachOrUpdateQueryParam(QueryMovieGenre, value))"
                        Values="Enum.GetValues<MovieGenresFlags>()[1..].ToList()"/>

            <div class="flex-row gap">
                <div class="menu-element gap">
                    <i class="fa-solid fa-border-top-left"></i>
                    <Switch @bind-State="_view"/>
                    <i class="fa-solid fa-bars-staggered"></i>
                </div>

                <div class="menu-element">
                    <IconButton OnClick="OnCopyLinkClicked" Icon="fa-solid fa-link"/>
                    <IconButton OnClick="OnCreateCURLClicked" Icon="fa-solid fa-code"/>
                </div>
            </div>

            @if (_view == (int)CollectionView.Table)
            {
                <Table T="MovieVM" Values="@_movies" Columns="@MovieTableDefinition.Columns" ShowIndex="true"></Table>
            }
            else
            {
                <div class="media-grid">
                    @foreach (var movie in _movies)
                    {
                        <HorizontalCard ImageUrl="@movie.Image!.Url"
                                        Title="@movie.Title"
                                        OnClick="() => NavigateToMovie(movie.Id)">

                            <Panel Gap="8" FlexAlignment="CssFlexAlignment.Column" ItemAlignment="CssItemAlignment.Start">
                                <span>@movie.Year</span>
                                <Rating Value="@movie.Rating"/>
                                <Panel>
                                    @foreach (var genre in movie.Genres.GetFlags().ToArray()[1..])
                                    {
                                        <span>@EnumFormatter.ToString(genre)&nbsp;</span>
                                    }
                                </Panel>
                            </Panel>

                        </HorizontalCard>
                    }
                </div>
            }

        </TabPage>

        <TabPage Id="@((int)MediaCategoryEnum.Book)" Text="@(EnumFormatter.ToString(MediaCategoryEnum.Book))">

            <ChipSelect T="BookGenresFlags"
                        AllowExpand=true
                        Title="Genres"
                        @ref="_bookGenreSelect"
                        OnSelectedChanged="@((value) => NavManager!.AttachOrUpdateQueryParam(QueryBookGenre, value))"
                        Values="Enum.GetValues<BookGenresFlags>()[1..].ToList()"/>

            <ChipSelect T="BookLanguageEnum"
                        Title="Genres"
                        @ref="_bookLanguageSelect"
                        OnSelectedChanged="@((value) => NavManager!.AttachOrUpdateQueryParam(QueryBookLanguage, value))"
                        Values="Enum.GetValues<BookLanguageEnum>().ToList()"/>

            <div class="flex-row gap">
                <div class="menu-element gap">
                    <i class="fa-solid fa-border-top-left"></i>
                    <Switch @bind-State="_view"/>
                    <i class="fa-solid fa-bars-staggered"></i>
                </div>

                <div class="menu-element">
                    <IconButton OnClick="OnCopyLinkClicked" Icon="fa-solid fa-link"/>
                    <IconButton OnClick="OnCreateCURLClicked" Icon="fa-solid fa-code"/>
                </div>
            </div>

            @if (_view == (int)CollectionView.Table)
            {
                <Table T="BookVM" Values="@_books" Columns="@BookTableDefinition.Columns" ShowIndex="true"></Table>
            }
            else
            {
                <div class="media-grid">
                    @foreach (var book in _books)
                    {
                        <HorizontalCard ImageUrl="@book.Image!.Url" Title="@book.Title">
                            <span>@book.Year</span>
                            <span>@book.Author</span>
                            <span>@EnumFormatter.ToString(book.Language)</span>
                            <Panel>
                                @foreach (var genre in book.Genres.GetFlags().ToArray()[1..])
                                {
                                    <span>@EnumFormatter.ToString(genre)&nbsp;</span>
                                }
                            </Panel>
                        </HorizontalCard>
                    }
                </div>
            }

        </TabPage>

        <TabPage Id="@((int)MediaCategoryEnum.Game)" Text="@(EnumFormatter.ToString(MediaCategoryEnum.Game))">

            <ChipSelect T="GameGenresFlags"
                        AllowExpand=true
                        Title="Genres"
                        @ref="_gameGenreSelect"
                        OnSelectedChanged="@((value) => NavManager!.AttachOrUpdateQueryParam(QueryGameGenre, value))"
                        Values="Enum.GetValues<GameGenresFlags>()[1..].ToList()"/>

            <ChipSelect T="GamePlatformEnum"
                        Title="Genres"
                        @ref="_gamePlatformSelect"
                        OnSelectedChanged="@((value) => NavManager!.AttachOrUpdateQueryParam(QueryGamePlatform, value))"
                        Values="Enum.GetValues<GamePlatformEnum>().ToList()"/>

            <div class="flex-row gap">
                <div class="menu-element gap">
                    <i class="fa-solid fa-border-top-left"></i>
                    <Switch @bind-State="_view"/>
                    <i class="fa-solid fa-bars-staggered"></i>
                </div>

                <div class="menu-element">
                    <IconButton OnClick="OnCopyLinkClicked" Icon="fa-solid fa-link"/>
                    <IconButton OnClick="OnCreateCURLClicked" Icon="fa-solid fa-code"/>
                </div>
            </div>

            @if (_view == (int)CollectionView.Table)
            {
                <Table T="GameVM" Values="@_games" Columns="@GameTableDefinition.Columns" ShowIndex="true"></Table>
            }
            else
            {
                <div class="media-grid">
                    @foreach (var game in _games)
                    {
                        <HorizontalCard ImageUrl="@game.Image!.Url" Title="@game.Title">
                            <span>@game.Year</span>
                            <span>@EnumFormatter.ToString(game.Platform)</span>
                            <Panel>
                                @foreach (var genre in game.Genres.GetFlags().ToArray()[1..])
                                {
                                    <span>@EnumFormatter.ToString(genre)&nbsp;</span>
                                }
                            </Panel>
                        </HorizontalCard>
                    }
                </div>
            }

        </TabPage>

    </TabControl>

</div>