@page "/media"
@using dominikz.dev.Components
@using dominikz.dev.Components.Cards
@using dominikz.dev.Components.Chips
@using dominikz.dev.Components.Tables
@using dominikz.dev.Definitions
@using dominikz.dev.Models
@using dominikz.dev.Theme
@using dominikz.dev.Utils
@using dominikz.shared
@using dominikz.shared.Contracts
@using dominikz.shared.ViewModels

<PageTitle>Media</PageTitle>

<div class="media">

    <MediaCarousel Data="_previews"/>

    <Searchbox @ref="_searchbox" QueryBinding="search"/>

    <ChipSelect T="MediaCategoryEnum"
                   @ref="_categorySelect"
                   QueryBinding="category"
                   Title="Category"
                   Values="Enum.GetValues<MediaCategoryEnum>()[1..].ToList()"/>

    @switch (Category)
    {
        case MediaCategoryEnum.Movie:
            <ChipSelect T="MovieGenresFlags"
                           @ref="_movieGenresSelect"
                           QueryBinding="g_genres"
                           AllowExpand=true
                           Title="Genres"
                           Values="Enum.GetValues<MovieGenresFlags>()[1..].ToList()"/>
            break;

        case MediaCategoryEnum.Book:
            <ChipSelect T="BookGenresFlags"
                           @ref="_bookGenresSelect"
                           QueryBinding="b_genres"
                           AllowExpand=true
                           Title="Genres"
                           Values="Enum.GetValues<BookGenresFlags>()[1..].ToList()"/>

            <ChipSelect T="BookLanguageEnum"
                           @ref="_bookLanguageSelect"
                           QueryBinding="b_language"
                           Title="Genres"
                           Values="Enum.GetValues<BookLanguageEnum>().ToList()"/>
            break;

        case MediaCategoryEnum.Game:
            <ChipSelect T="GameGenresFlags"
                           @ref="_gameGenresSelect"
                           QueryBinding="g_genres"
                           AllowExpand=true
                           Title="Genres"
                           Values="Enum.GetValues<GameGenresFlags>()[1..].ToList()"/>

            <ChipSelect T="GamePlatformEnum"
                           @ref="_gamePlatformSelect"
                           QueryBinding="g_platforms"
                           Title="Genres"
                           Values="Enum.GetValues<GamePlatformEnum>().ToList()"/>
            break;
    }

    @switch (Category)
    {
        case MediaCategoryEnum.Movie:

            @if (_view == CollectionView.Table)
            {
                <Table T="MovieVM" Values="@_movies" Columns="@MovieTableDefinition.Columns" ShowIndex="true"></Table>
            }
            else
            {
                <div class="media-grid">
                    @foreach (var movie in _movies)
                    {
                        <HorizontalCard ImageUrl="@movie.Image!.Url"
                                        Title="@movie.Title"
                                        OnClick="() => NavigateToMovie(movie.Id)">

                            <Panel Gap="8" FlexAlignment="CssFlexAlignment.Column" ItemAlignment="CssItemAlignment.Start">
                                <span>@movie.Year</span>
                                <Rating Value=@movie.Rating />
                                <Panel>
                                    @foreach (var genre in movie.Genres.GetFlags().ToArray()[1..])
                                    {
                                        <span>@EnumConverter.ToString(genre)&nbsp;</span>
                                    }
                                </Panel>
                            </Panel>

                        </HorizontalCard>
                    }
                </div>
            }
            break;

        case MediaCategoryEnum.Game:

            @if (_view == CollectionView.Table)
            {
                <Table T="GameVM" Values="@_games" Columns="@GameTableDefinition.Columns" ShowIndex="true"></Table>
            }
            else
            {
                <div class="media-grid">
                    @foreach (var game in _games)
                    {
                        <HorizontalCard ImageUrl="@game.Image!.Url" Title="@game.Title">
                            <span>@game.Year</span>
                            <span>@EnumConverter.ToString(game.Platform)</span>
                            <Panel>
                                @foreach (var genre in game.Genres.GetFlags().ToArray()[1..])
                                {
                                    <span>@EnumConverter.ToString(genre)&nbsp;</span>
                                }
                            </Panel>
                        </HorizontalCard>
                    }
                </div>
            }
            break;

        case MediaCategoryEnum.Book:

            @if (_view == CollectionView.Table)
            {
                <Table T="BookVM" Values="@_books" Columns="@BookTableDefinition.Columns" ShowIndex="true"></Table>
            }
            else
            {
                <div class="media-grid">
                    @foreach (var book in _books)
                    {
                        <HorizontalCard ImageUrl="@book.Image!.Url" Title="@book.Title">
                            <span>@book.Year</span>
                            <span>@book.Author</span>
                            <span>@EnumConverter.ToString(book.Language)</span>
                            <Panel>
                                @foreach (var genre in book.Genres.GetFlags().ToArray()[1..])
                                {
                                    <span>@EnumConverter.ToString(genre)&nbsp;</span>
                                }
                            </Panel>
                        </HorizontalCard>
                    }
                </div>
            }
            break;
    }
</div>