@page "/media/movie/{movieid:guid}"
@using dominikz.dev.Components
@using dominikz.dev.Components.Cards
@using dominikz.dev.Components.Chips
@using dominikz.dev.Utils
@using dominikz.shared

<div class="movie">
    @if (_movie is not null)
    {
        <div>
            <h2>@_movie.Title</h2>

            <Panel Gap="12">

                <span>@($"🕑 {_movie.Year}")</span>
                <span>@($"🗓 {_movie.Runtime.Hours}h {_movie.Runtime.Minutes}m")</span>

                <Rating Value="_movie.Rating" />

                @foreach (var genre in _movie.Genres.GetFlags().ToArray()[1..])
                {
                    <span>@EnumConverter.ToString(genre)</span>
                }
            </Panel>

            <hr />
        </div>

        <div class="movie-preview">
            <img src="@_movie.Image!.Url" />
            <iframe width="587" height="330" frameBorder="0" src="@($"https://www.youtube.com/embed/{_movie.YoutubeId}?autoplay=1&mute=1&controls=0")" />
        </div>

        @((MarkupString)_movie.Plot)

        @if (!string.IsNullOrWhiteSpace(_movie.Comment))
        {
            <div class="movie-comment">
                <img src="@_movie.Author!.Image!.Url" />
                @((MarkupString)_movie.Comment)
            </div>
        }

        <CardGrid>

            @if (_movie.Directors.Count > 0)
            {
                <div class="movie-stars">
                    <span>Directors</span>
                    @foreach (var director in _movie.Directors)
                    {
                        <Avatar Person="@director" />
                    }
                </div>
            }

            @if (_movie.Writers.Count > 0)
            {
                <div class="movie-stars">
                    <span>Writers</span>
                    @foreach (var writer in _movie.Writers)
                    {
                        <Avatar Person="@writer" />
                    }
                </div>
            }

            @if (_movie.Stars.Count > 0)
            {
                <div class="movie-stars">
                    <span>Stars</span>
                    @foreach (var star in _movie.Stars)
                    {
                        <Avatar Person="@star" />
                    }
                </div>
            }

        </CardGrid>
    }
</div>