@typeparam T

<div class="table-wrapper">

    <table>
        @if (Columns.Any(x => !string.IsNullOrWhiteSpace(x.Name)))
        {
            <thead>
                <tr>
                    @if (ShowIndex)
                    {
                        <th class="table-col-hide-on-mobile" scope="row">#</th>
                    }

                    @foreach (var column in Columns)
                    {
                        <th class="@GetColCssClass(column)" scope="col">@column.Name</th>
                    }
                </tr>
            </thead>
        }

        <tbody>
            @foreach (var value in Values)
            {
                <tr class="@(@Values.IndexOf(value) % 2 == 0 ? "table-row-odd" : string.Empty)" @onclick="() => OnRowClicked(value)">
                    @if (ShowIndex)
                    {
                        <th class="table-col-hide-on-mobile" scope="row">@(Values.IndexOf(value) + 1)</th>
                    }

                    @foreach (var column in Columns)
                    {
                        if (column.Actions.HasFlag(ColumnActionFlags.Link) && column.Accessor(value) != null)
                        {
                            <td class="@GetColCssClass(column)"><a href="@column.Accessor(value)">Open</a></td>
                        }
                        else
                        {
                            <td class="@GetColCssClass(column)">@column.Formatter(column.Accessor(value))</td>
                        }
                    }
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                @if (ShowIndex)
                {
                    <th class="table-col-hide-on-mobile" scope="row"></th>
                }

                @foreach (var column in Columns)
                {
                    <td class="@GetColCssClass(column)">@GetSum(column)</td>
                }
            </tr>
        </tfoot>

    </table>
</div>